alias grep='grep --color=auto'
alias la='ls -aF'
alias ll='ls -alF'
alias vimrc='vim ~/.vimrc'
alias bashrc='vim ~/.bashrc'
alias zshrc='vim ~/.zshrc'
alias aliases='vim ~/.aliases'
alias gcd='. ~/gitchange.sh'
alias gd='. ~/gitchange.sh'
alias gstatus='git status'
alias gs='git status'
alias glog='git log'
alias gl='git log'
alias gbranch='git branch'
alias gb='git branch'
alias gcheckout='~/dotfiles/gitcheckout.sh'
alias gc='~/dotfiles/gitcheckout.sh'
alias back='cat ~/dotfiles/`~/dotfiles/repo.sh`_last_branch | xargs ~/dotfiles/gitcheckout.sh'
alias gp='git pull'
alias gn='git config'
alias develop='git checkout develop'
alias master='git checkout master'
alias gremote='git remote'
alias gr='git remote'
alias gm='git commit'
alias gadd='git add'
alias ga='git add'
alias sshconfig='cat ~/.ssh/config'
