alias la='ls -aF'
alias ll='ls -alF'
alias spoon4='bash ~/pdi-ee-client-4.4.3-GA/data-integration/spoon.sh'
alias vimrc='vim ~/.vimrc'
alias bashrc='vim ~/.bashrc'
alias zshrc='vim ~/.zshrc'
alias aliases='vim ~/.aliases'
alias gcd='. ~/gitchange.sh'
alias gd='. ~/gitchange.sh'
alias gstatus='git status'
alias gs='git status'
alias glog='git log'
alias gl='git log'
alias gbranch='git branch'
alias gb='git branch'
alias gcheckout='git checkout'
alias gc='git checkout'
alias gp='git pull'
alias gn='git config'
alias develop='git checkout develop'
alias master='git checkout master'
alias gremote='git remote'
alias gr='git remote'
alias gm='git commit'
alias gadd='git add'
alias ga='git add'
alias version="sed -n 7p pom.xml | sed -e 's/<[^>]*>//g' -e 's/^[ \t]*//'"
alias gv=version
alias sz='source ~/.zshrc && echo ".zshrc Reloaded!"'
alias what='ps -ef | grep'
