alias grep='grep --color=auto'
alias la='ls -aF'
alias ll='ls -alF'
alias spoon4='bash ~/pdi-ee-client-4.4.3-GA/data-integration/spoon.sh'
alias vimrc='vim ~/.vimrc'
alias bashrc='vim ~/.bashrc'
alias zshrc='vim ~/.zshrc'
alias aliases='vim ~/.aliases'
alias gcd='. ~/gitchange.sh'
alias gd='. ~/gitchange.sh'
alias gstatus='git status'
alias gs='git status'
alias glog='git log'
alias gl='git log'
alias gbranch='git branch'
alias gb='git branch'
alias gcheckout='~/dotfiles/gitcheckout.sh'
alias gc='~/dotfiles/gitcheckout.sh'
alias back='cat ~/dotfiles/`~/dotfiles/repo.sh`_last_branch | xargs ~/dotfiles/gitcheckout.sh'
alias gp='git pull'
alias gn='git config'
alias develop='git checkout develop'
alias master='git checkout master'
alias gremote='git remote'
alias gr='git remote'
alias gm='git commit'
alias gadd='git add'
alias ga='git add'
alias version="head -n 15 pom.xml | grep '<version>' | sed -e 's/<[^>]*>//g' | sed -e 's/[[:space:]]//g'"
alias gv=version
alias vv=version
alias sz='source ~/.zshrc && echo ".zshrc Reloaded!"'
alias what='ps -ef | grep'
alias pc='ssh ylaurence@pc-ylaurence.paytronix.com'
alias pl='tmux a -t pentaho-love'
alias pxcp='ssh ylaurence@pc-ylaurence.paytronix.com "pbpaste" | pbcopy && echo "Successfully copied pasteboard from pc-ylaurence"'
alias qapdi='ssh qapdi'
alias dl='cd ~/Downloads'
alias pipe2slack='python ~/Downloads/pipe2slack/slack.py'
alias ddp='tmux a -t ddp'
alias chmox='chmod a+x'
alias pxs='tmux a -t pxs'
alias h='hadoop fs'
alias hls='hadoop fs -ls'
alias sshconfig='cat ~/.ssh/config'

# ASL(STEM|AI)
alias aslai='tmux a -t aslai'
